html, body{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI","Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
  	background-color: #E7E0C9; 
}

h1{
    color: #11324D;
}

.container{
	display: flex; 
	justify-content: center; 
	align-items: center; 
	width: 100vw; 
}

.flex{
	display: flex;
}

.col{
	flex-direction: column; 
}

/* ----------------------- BONHOMME STYLING ------------------ */

.bonhomme-container{
    position: relative; 
}

.bonhomme{
    position: absolute; 
}

@keyframes rotating {
  0% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
.rotating-head {
    top: 0; 
    animation: rotating 10s linear infinite;
}

@keyframes bodyShrink {
    0%{
        transform: scale(90%, 90%);
    }
    25%{
        transform: scale(90%, 85%);
    }
    50%{
        transform: scale(85%, 80%);
    }
    75%{
        transform: scale(85%, 85%);
    }
    100%{
        transform: scale(90%, 90%);
    }
}

.shrink-body{
    animation: bodyShrink 8s linear infinite;
    top: 230px;
    left: 20px; 
}

@keyframes movingArm {
    0%{
        transform: rotate(-20deg);
        left: -200px;
        top: -70px;
    }

    50%{
        left: -256px;
        top: -45px;
        transform: rotate(-36deg);
    }
}

.moving-arm {
    left: -200px;
    top: -70px;
    transform: rotate(-20deg);
    animation: movingArm 8s linear infinite; 
}

svg{
    stroke: #11324D;
 }

/* ----------------------- END OF BONHOMME STYLING ------------------ */
